body{
    background: #2B2B2B;
}
.main{
    /* width: 100vw; */
    min-width: max-content;
}
.container{
    display: flex;
    width: 1500px;
    margin: auto;
    flex-direction: column;
    align-items: flex-start;
}
/* Header */
.header{
    display: flex;
    padding: 20px 50px;
    justify-content: space-between;
    align-items: center;
    align-self: stretch;
}
.header-left{
    display: flex;
    align-items: center;
    gap: 10px;
}
.StoreFont{
    width: 32px;
    height: 32px;
    flex-shrink: 0;
}
.nftMarketplace{
    width: 199.414px;
    height: 19.8px;
    flex-shrink: 0;
}
.header-right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
}
.item{
    color: #FFF;
    text-align: center;
    font-size: 1.6rem;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    text-decoration: none;
}
.header__item-link{
    display: flex;
    height: 46px;
    padding: 0px 20px;
    justify-content: center;
    align-items: center;
    gap: 12px;
}
.btnSignUp{
    display: flex;
    height: 60px;
    padding: 0px 30px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 20px;
    background-color: #A259FF;
}
.burgerMenu{
    display: none;
}
/* -------------------------------------------------------------------------------- */
/* ContainerOne */
.containerOne{
    display: flex;
    padding: 80px 195px;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    align-self: stretch;
}
/* Left */
.containerOne-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    flex: 1 0 0;
}
.containerOne__heading{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
    align-self: stretch;
}
.containerOne__heading-title{
    display: flex;
    width: 510px;
    flex-direction: column;
    justify-content: center;
    flex: 1;
}
.containerOne__heading-title h1{
    color: #fff;
    font-size: 6.8rem;
    line-height: 100%;
    text-transform: capitalize;
}
.containerOne__heading-des{
    align-self: stretch;
}
.containerOne__heading-des p{
    display: flex;
    width: 510px;
    flex-direction: column;
    color: #fff;
    font-size: 22px;
    line-height: 160%;
    text-transform: capitalize;
}
.containerOne__btnStarted{
    padding-bottom: 30px;
}
.containerOne__btnStarted-link{
    color: #fff;
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 600;
    display: flex;
    width: 224px;
    height: 60px;
    padding: 0px 30px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 20px;
    background-color: #A259FF;
}
.containerOne__quantity{
    display: flex;
    gap: 30px;
}
.containerOne__quantity h4{
    color: #fff;
    font-size: 2.8rem;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
    text-transform: capitalize;    
}
.containerOne__quantity p{
    color: #fff;
    font-size: 2.4rem;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    text-transform: capitalize;    
}
/* Right */
.containerOne-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1 0 0;
}
.imgIntro{
    width: 510px;
    height: 401px;
    flex: 1 0 0;
    align-self: stretch;
    border-radius: 20px 20px 0px 0px;
    background: url("../img/ImagePlaceholder.png"), cover no-repeat;
}
.container-right__inforImg{
    display: flex;
    width: 510px;
    height: 109px;
    padding: 20px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    align-self: stretch;
    border-radius: 0 0 20px 20px;
    background-color: #3B3B3B;
}
.nameImg{
    align-self: stretch;
    color: #fff;
    font-size: 2.2rem;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    text-transform: capitalize;
}
.author{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 12px;
    align-self: stretch;
    border-radius: 20px;
}
.imgAuthor{
    display: flex;
    align-items: flex-start;
    gap: 10px;
}
.nameAuthor{
    flex: 1 0 0;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}
/* -------------------------------------------------------------------------------- */
/* ContainerSecond */
.containerSecond{
    display: flex;
    padding: 80px 0px;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    align-self: stretch;
}
.containerSecond-intro{
    display: flex;
    width: 1046px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.containerSecond-intro h3{
    color: #fff;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    text-transform: capitalize;
}
.containerSecond-intro p{
    color: #fff;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    text-transform: capitalize;
}
.album{
    display: flex;
    width: 1050px;
    align-items: flex-start;
    gap: 30px;
}
.libraryImgAnimals,
.libraryImgPlants,
.libraryImgRobos{
    display: flex;
    width: 330px;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    flex-shrink: 0;
    /* border-radius: 20px; */
}
.listImg{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    align-self: stretch;
}
.primaryImg{
    height: 330px;
    align-self: stretch;
    border-radius: 20px;
}
.secondaryImg{
    display: flex;
    align-items: flex-start;
    gap: 15px;
    align-self: stretch;
}
.secondaryImg-item{
    height: 100px;
    flex: 1;
    border-radius: 20px;
}
.quantityImg{
    display: flex;
    height: 100px;
    padding: 32px 15px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex: 1;
    background-color: #A259FF;
    border-radius: 20px;
}
.quantityImg h5{
    color: #FFF;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    text-transform: capitalize;
}
.inforListImg{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}
.nameList{
    align-self: stretch;
    color: #FFF;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    text-transform: capitalize;
}
.ownList{
    display: flex;
    align-items: center;
    gap: 12px;
    align-self: stretch;
}
.nameOwn{
    flex: 1;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}
/* -------------------------------------------------------------------------------- */
/* ContainerThird */
.containerThird{
    display: flex;
    padding: 80px 195px;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    align-self: stretch;
}
.containerThird__heading{
    display: flex;
    width: 1050px;
    align-items: flex-end;
    gap: 100px;
}
.containerThird__heading-left{
    display: flex;
    width: 703px;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10;
    flex-shrink: 0;
}
.containerThird__heading-title{
    flex: 1;
    color: #fff;
    font-size: 38px;
    font-weight: 600;
    line-height: 120%;
    text-transform: capitalize;
}
.containerThird__heading-des{
    flex: 1;
    color: #fff;
    font-size: 22px;
    font-weight: 400;
    line-height: 160%;
    text-transform: capitalize;
}
.containerThird__heading-link{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    display: flex;
    height: 60px;
    padding: 0 50px;
    justify-content: center;
    align-items: center;
    gap: 12PX;
    border-radius: 20px;
    border: 2px solid #A259FF;
    min-width: max-content;
}
.storeNFT{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}
.lineFirst,
.lineSecond,
.lineThird{
    display: flex;
    width: 1050px;
    align-items: flex-start;
    gap: 30px;
}
.itemNFT{
    position: relative;
    display: flex;
    padding: 20px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    flex: 1;
    border-radius: 20px;
    background: #3B3B3B;
}
.numberItem,
.numberItem1{
    color: #ccc;
    position: absolute;
    left: 20px;
    top: 18px;
    display: flex;
    width: 30px;
    height: 30px;
    align-items: flex-start;
    background-color: #2B2B2B;
    border-radius: 20px;
}
.numberItem p{
    position: absolute;
    left: 11px;
    top: 4px;
    font-size: 16px;
}
.numberItem1 p{
    position: absolute;
    left: 7px;
    top: 4px;
    font-size: 16px;
}
.imgNFT{
    display: flex;
    width: 110px;
    align-items: flex-start;
    gap: 10px;
}
.detailItem{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    align-self: stretch;
}
.nameItem{
    align-self: stretch;
    color: #fff;
    font-size: 22px;
    text-align: center;
    line-height: 140%;
    text-transform: capitalize;
}
.priceItem{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}
.priceTitle{
    flex: 1;
    color: #858584;
    font-size: 16px;
    line-height: 140%;
}
.price{
    flex: 1;
    color: #fff;
    font-size: 16px;
    line-height: 140%;
}
/* -------------------------------------------------------------------------------- */
/* ContainerFourth */
.container__fourth{
    display: flex;
    padding: 80px 195px;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    align-self: stretch;
}
.container__fourth-heading h3{
    display: flex;
    flex: 1;
    align-items: flex-start;
    /* align-self: stretch; */
    width: 1046px;
    color: #fff;
    font-size: 38px;
    font-weight: 600;
    line-height: 120%;
    text-transform: capitalize;
}
.list-category{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}
.line__category-first,
.line__category-second{
    display: flex;
    align-items: flex-start;
    gap: 30px;
    align-self: stretch;
}
.item__category{
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    border-radius: 20px;
    background: #3B3B3B;
}
.item__category-img{
    display: flex;
    width: 240px;
    height: 240px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 20px 20px 0px 0px;
    background: rgba(255, 255, 255, 0.10);
}
.item__catsgory-detail{
    display: flex;
    padding: 20px 30px 25px 30px;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    align-self: stretch;
}
.item__category-name{
    color: #fff;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    text-transform: capitalize;
}
/* -------------------------------------------------------------------------------- */
/* ContainerFifth */
.contaier__fifth{
    display: flex;
    padding: 80px 195px;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    align-self: stretch;
}
.container__fifth-heading{
    display: flex;
    width: 1050px;
    align-items: flex-end;
    gap: 100px;
}
.container__fifth-heading-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    flex: 1;
}
.container__fifth-heading-title{
    align-self: stretch;
    color: #fff;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    text-transform: capitalize;
}
.container__fifth-heading-des{
    align-self: stretch;
    color: #fff;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    text-transform: capitalize;
}
.container__fifth-heading-link{
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    display: flex;
    height: 60px;
    padding: 0px 50px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 20px;
    border: 2px solid #A259FF;
}
.container__fifth-content{
    display: flex;
    width: 1050px;
    align-items: flex-start;
    gap: 30px;
}
.container__fifth-content-item{
    display: flex;
    height: 469px;
    flex-direction: column;
    align-items: center;
    flex: 1;
    border-radius: 20px;
    background: #3b3b3b;
}
.container__fifth-content-item-img{
    height: 296px;
    align-self: stretch;
}
.container__fifth-content-item-detail{
    display: flex;
    padding: 20px 30px 25px 30px;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
    align-self: stretch;
}
.container__fifth-content-item-heading{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    align-self: stretch;
}
.container__fifth-content-item-name{
    align-self: stretch;
    color: #fff;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    text-transform: capitalize;
}
.container__fifth-content-item-author{
    display: flex;
    align-items: flex-start;
    gap: 12px;
    align-self: stretch;
}
.container__fifth-container-item-author-name{
    flex: 1;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}
.container__fifth-content-item-infor{
    display: flex;
    width: 100%;
}
.container__fifth-content-item-infor-left{
    display: flex;
    padding-right: 21px;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    flex: 1
}
.container__fifth-content-item-infor-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    gap: 8px;
    /* flex: 1; */
}
.container__fifth-content-item-infor-left-name{
    align-self: stretch;
    color: #ccc;
    font-family: WorkSansThin;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
}
.container__fifth-content-item-infor-right-name{
    /* align-self: stretch; */
    color: #ccc;
    font-family: WorkSansThin;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
}
.container__fifth-content-item-infor-left-param,
.container__fifth-content-item-infor-right-param{
    align-self: stretch;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}
/* -------------------------------------------------------------------------------- */
/* ContainerSixth */
.container__sixth{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-self: stretch;
}
.container__sixth-content{
    display: flex;
    width: 100%;
    padding: 360px 0 60px 0;
    justify-content: space-around;
    align-items: flex-end;
    align-self: stretch;
    background: url(../img/containerSixth/NFT\ Highlight.png);
    background-size: 100% 566px;
    
}
.container__sixth-content-left{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
    /* flex: 1; */
}
.container__sixth-content-left-heading{
    align-self: stretch;
    color: #fff;
    font-size: 42px;
    line-height: 110%;
    text-transform: capitalize;
}
.container__sixth-content-left-btn{
    text-decoration: none;
    color: #000;
    display: flex;
    height: 60px;
    padding: 22px 50px;
    justify-content: center;
    align-items: center;
    gap: 12px;
    border-radius: 20px;
    background: #fff;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 140%;
}
.container__sixth-content-right{
    display: flex;
    width: 295px;
    padding: 30px;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 20px;
    background: rgba(59, 59, 59, 0.50);
    backdrop-filter: blur(5px);
}
.container__sixth-content-right-heading{
    align-self: stretch;
    color: #fff;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
}
.container__sixth-content-right-countdown{
    display: flex;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}
.container__sixth-content-right-countdown-hours,
.container__sixth-content-right-countdown-minutes,
.container__sixth-content-right-countdown-seconds{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    flex: 1;
}
.container__sixth-content-right-countdown-hours-number,
.container__sixth-content-right-countdown-minutes-number,
.container__sixth-content-right-countdown-seconds-number{
    align-items: stretch;
    color: #fff;
    font-size: 38px;
    line-height: 120%;
    text-transform: capitalize;
}
.container__sixth-content-right-countdown-hours-unit,
.container__sixth-content-right-countdown-minutes-unit,
.container__sixth-content-right-countdown-seconds-unit{
    flex: 1;
    align-self: stretch;
    color: #fff;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
}
.container__sixth-content-right-countdown-divide{
    color: #fff;
    font-size: 28px;
    line-height: 140%;
    text-transform: capitalize;
}
/* -------------------------------------------------------------------------------- */
/* ContainerSeventh */
.container__seventh{
    display: flex;
    padding: 80px 0;
    flex-direction: column;
    align-items: center;
    gap: 48px;
    align-self: stretch;
}
.container__seventh-heading{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
}
.container__seventh-heading-title{
    width: 1050px;
    color: #fff;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    text-transform: capitalize;
}
.container__seventh-heading-des{
    width: 1050px;
    color: #fff;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    text-transform: capitalize;
}
.container__seventh-content{
    display: flex;
    align-items: flex-start;
    gap: 30px;
}
.container__seventh-content-item{
    display: flex;
    height: 440px;
    width: 330px;
    padding: 10px 30px 30px 30px;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    border-radius: 20px;
    background: #3B3B3B;
}
.container__seventh-content-item-img{
    width: 250px;
    height: 250px;
}
.container__seventh-content-detail{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}
.container__seventh-content-detail-heading{
    align-self: stretch;
    color: #fff;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
    text-transform: capitalize;
}
.container__seventh-content-detail-des{
    align-self: stretch;
    color: #fff;
    text-align: center;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
    text-transform: capitalize;
}
/* -------------------------------------------------------------------------------- */
/* ContainerEighth */
.container__eighth{
    display: flex;
    padding: 40px 0 80px 0;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}
.container__eighth-content{
    display: flex;
    width: 1050px;
    padding: 60px;
    align-items: center;
    gap: 80px;
    border-radius: 20px;
    background: #3b3b3b;
}
.container__eighth-left-img{
    /* width: 425px; */
    /* height: 310px; */
    flex: 1;
}
.container__eighth-right{
    display: flex;
    width: 425px;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    flex-shrink: 0;
}
.container__eighth-right-intro{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    align-self: stretch;
}
.container__eighth-right-intro-title{
    align-self: stretch;
    color: #fff;
    font-size: 38px;
    font-style: normal;
    font-weight: 600;
    line-height: 120%;
    text-transform: capitalize;
}
.container__eighth-right-intro-des{
    align-self: stretch;
    color: #fff;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: 160%;
    text-transform: capitalize;
}
.container__eighth-right-form{
    display: flex;
    height: 60px;
    padding: 16px 0px 16px 20px;
    align-items: center;
    gap: 12px;
    align-self: stretch;
    border-radius: 20px;
    background: #fff;
}
.container__eighth-right-form input{
    flex: 1;
    color: #2b2b2b;
    font-size: 16px;
    font-weight: 400px;
    line-height: 140%;
    border: none;
    outline: none;
}
.container__eighth-right-form-subscribe{
    text-decoration: none;
    display: flex;
    height: 60px;
    padding: 0px 50px;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
    border-radius: 20px;
    background-color: #A259FF;
    font-size: 16px;
    color: #fff;
    font-weight: 600px;
    line-height: 140%;
    text-align: center;
}
/* -------------------------------------------------------------------------------- */
/* Footer */
.footer{
    display: flex;
    padding: 40px;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    align-self: stretch;
    background: #3B3B3B;
}
.footer__top{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}
.footer__top-first{
    display: flex;
    width: 327.414px;
    padding-right: 84px;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
}
.footer__top-first-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
.footer__top-first-content-des{
    width: 238px;
    color: #ccc;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}
.footer__top-first-content-contact{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
}
.footer__top-first-content-contact-caption{
    width: 238px;
    height: 18px;
    color: #ccc;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}
.footer__top-first-content-app{
    display: flex;
    align-items: flex-start;
    gap: 10px;
}
.footer__top-second{
    display: flex;
    width: 240px;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
}
.footer__top-second-heading{
    color: #fff;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%; /* 35.2px */
    text-transform: capitalize
}
.footer__top-second-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
.footer__top-second-content-item{
    color: #ccc;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}
.footer__top-third{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 25px;
}
.footer__top-third-heading{
    color: #fff;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: 160%;
    text-transform: capitalize;
}
.footer__top-third-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
.footer__top-third-content-des{
    width: 330px;
    color: #ccc;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
}
.footer__top-third-content-form{
    display: flex;
    height: 60px;
    padding: 16px 0px 16px 20px;
    align-items: center;
    gap: 12px;
    align-self: stretch;
    border-radius: 20px;
    background: #fff;
}
.footer__top-third-content-form input{
    flex: 1;
    color: #2b2b2b;
    font-size: 16px;
    font-weight: 400px;
    line-height: 140%;
    border: none;
    outline: none;
}
.footer__top-third-content-form-subscribe{
    text-decoration: none;
    display: flex;
    height: 60px;
    padding: 0px 50px;
    justify-content: flex-end;
    align-items: center;
    gap: 12px;
    border-radius: 20px;
    background-color: #A259FF;
    font-size: 16px;
    color: #fff;
    font-weight: 600;
    line-height: 140%;
    text-align: center;
}
.footer__bottom{
    display: flex;
    width: 1050px;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
}
.footer__bottom-border{
    background: #ccc;
    width: 1050px;
    height: 1px;
}
.footer__bottom-content{
    align-self: stretch;
    color: #ccc;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 110%;
}